<form action="/doaddcomment" method="post" class="myForm">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>Σχόλια</h1>
            </div>
        </div>
        <fieldset class="border p-2 mb-3">
            <legend class="w-auto">Προσθέστε το σχόλιο σας</legend>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="BookTitle" class="col-form-label">Τίτλος</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="text" id="BookTitle" value="{{title}}" name="BookTitle" placeholder="{{title}}" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="BookAuthor" class="col-form-label">Συγγραφέας</label>
                </div>
                <div class="col-md-10 col-sm-10 position-relative">
                    <input type="text" id="BookAuthor" value="{{author}}" name="BookAuthor" placeholder="{{author}}" readonly>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="newComment" class="col-form-label">Σχόλιο</label>
                </div>
                <div class="col-md-10 col-sm-10 position-relative">
                    <input type="text" class="form-control {{#if message.newComment}} is-invalid {{/if}}" id="comment" value="{{userComment}}" name="newComment" placeholder="Γράψτε ένα σχόλιο" required autofocus>
                    <div class="valid-feedback"> Μια χαρά! </div>
                    <div class="invalid-feedback">{{message.newComment.msg}}</div>
                </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary mb-3">Υποβολή</button>
            </div>
        </div>
        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Μέλος</th>
                        <th>Σχόλιο...</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each comments}}
                    {{#if this.comment}}
                        <tr>
                            <td>{{this.UserName}}</td>
                            <td>{{this.comment}}</td>
                        </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>       
    </div>
</form>